<table class="table table-striped ">
  <thead>
  <tr>
    <th><h3>ID</h3></th>
    <th><h3>Nombres</h3></th>
    <th><h3>Apellidos</h3></th>
    <th><h3>Correo</h3></th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <% usuarios.forEach((usuario, i) => { %>
  <tr>
    <td><h4><%= usuario.id %></h4></td>
    <td><h4><%= usuario.nombres %></h4></td>
    <td><h4><%= usuario.apellidos %></h4></td>
    <td><h4><%= usuario.correo %></h4></td>
    <td>
      <a href="/EditarUsuario?id=<%= usuario.id %>" class="btn btn-sm btn-primary btn-block">Editar</a>
    </td>
    <td>
      <a href="usuario/borrarUsuario?id=<%= usuario.id %>" class="btn btn-sm btn-danger btn-block">Borrar</a>
    </td>
  </tr>
  <% }) %>
  </tbody>
</table>
